params {
// The default pipeline mode. Set on "ssr" to run Kmer-SSR, can be changed to "k-mer" to run Gerbil  
    version = "1.1.0"
    sequence_mode = "fastq_files"
    help = false
    threads = 32
    apikey = ""

// The folder in which BOTH input files will be fetched 
    reads_input_dir = "$PWD"
    metadata_input_dir = "$PWD"

//The folder in which the output file will be put 
    output_dir = "$PWD"

//The email address where the completion mail will be sent
// mail_to = 'Olivier.Croce@unice.fr'

// For advanced documentation on Kmer-SSR, see https://github.com/ridgelab/Kmer-SSR/blob/master/README
//Minimum and maximum period sizes in a single SSR
    kmerSSR.periodMin = 1
    kmerSSR.periodMax = 75

    kmerSSR.ssrSizeTreshold = 6

//Minimum and maximum values for the number of repeat in a single SSR
    kmerSSR.repeatMin = 2
    kmerSSR.repeatMax = 101

//Minimum and maximum number of bases in a read to be computed
    kmerSSR.readLengthMin = 50
    kmerSSR.readLengthMax = 300
}

/*Allows Nextflow to produce a HTML report of events
    see : https://www.nextflow.io/docs/latest/config.html#scope-report
    see : https://www.nextflow.io/docs/latest/tracing.html#execution-report*/
report {
    enabled = true
}

/*Allows Nextflow to preduce a timeline of events
    See : https://www.nextflow.io/docs/latest/config.html#scope-timeline*/
timeline {
    enabled = true
}

// notification {
//    enabled = false
//    from = 'jargentin@unice.fr'
//    to = params.mail_to
// }