params {
//The default pipeline mode. Set on "ssr" to run Kmer-SSR, can be changed to "k-mer" to run Gerbil  
	mode = "ssr"

//The folder in which BOTH input files will be fetched 
	input_dir = "$PWD"

//The folder in which the output file whil be put 
	output_dir = "$PWD"
	
//The email address where the completion mail will be sent
	mail_to = 'Olivier.Croce@unice.fr' 
}

/*Allow Nextflow to produce a HTML report of events
	see : https://www.nextflow.io/docs/latest/config.html#scope-report
	see : https://www.nextflow.io/docs/latest/tracing.html#execution-report*/
report {
	enabled = true
}

/*Allows Nextflow to preduce a timeline of events
	See : https://www.nextflow.io/docs/latest/config.html#scope-timeline*/
timeline {
	enabled = true
}

notification {
	enabled = true
	from = 'jargentin@unice.fr'
	to = params.mail_to
	template = """\
        Pipeline execution summary
        ---------------------------
        Completed at: ${workflow.complete}
        Duration    : ${workflow.duration}
        Success     : ${workflow.success}
        workDir     : ${workflow.workDir}
        exit status : ${workflow.exitStatus}
        """
}

// For advanced documentation on Kmer-SSR, see https://github.com/ridgelab/Kmer-SSR/blob/master/README
kmerSSR {
//Minimum and maximum period sizes in a single SSR
	periodMin = 1
	periodMax = 75
	
//Minimum and maximum values for the number of repeat in a single SSR
	repeatMin = 1
	repeatMax = 75
	
//Minimum and maximum number of bases in a read to be computed
	readLengthMin = 50
	readLengthMax = 300
	
//Number of parallelization threads for Kmer-SSR to use
	threads = 10
}
